:root {
    --title-color: #322153;
    --primary-color: #34cb79;
    --dark-mode: #151515;
    --white-color: #f0f0f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 500ms;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background: var(--white-color);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

/* Dark Theme */

.dark-theme-black-background {
    background-color: var(--dark-mode);
}

.dark-theme-white {
    color: white !important;
}

.dark-theme-black {
    color: var(--dark-mode) !important;
}

.hide-theme-icon {
    display: none;
}

/* Switcher */
#label-switcher i {
    position: absolute;
    top: 50px;
    right: 2%;
    font-size: 23px;
}

#label-switcher i:hover {
    cursor: pointer;
}

.fa-sun {
    color: #FDB813;
}

.fa-moon {
    color: #F5F3CE;
}