@media (max-width: 900px) {
    /* Page Home */
    #page-home {
        background-position: 70vw 20vh;
    }

    #page-home .content {
        text-align: center;
    }

    #page-home header {
        width: 90%;
    }

    #page-home header a {
        position: absolute;
        left: 45%;
        bottom: 20px;
        transform: translateX(-45%);
    }

    #page-home main {
        align-items: center;
        margin: 0 auto;
    }

    #page-home main h1 {
        font-size: 43px;
    }

    #page-home main p {
        font-size: 23px;
    }

    #page-home header a span {
        width: 20px;
        padding-right: 20px;
    }


    /* Page Create Point */
    #page-create-point {
        position: relative;
    }

    #page-create-point #label-switcher i {
        top: 10px;
        right: 0;
    }

    #page-create-point header a {
        position: absolute;
        left: 45%;
        bottom: -50px;
        transform: translateX(-45%);
    }
    
    #page-create-point form {
        padding: 45px 20px;
        margin-top: 40px;
    }

    form .field-group {
        flex-direction: column;
    }

    form .field-group .field + .field {
        margin-left: 0;
    }

    .items-grid {
        grid-template-columns: 1fr 1fr;
    }

    
    /* Page Search Results */
    #page-search-results {
        position: relative;
    }

    #page-search-results header a {
        position: absolute;
        left: 45%;
        bottom: -50px;
        transform: translateX(-45%);
    }

    #page-search-results #label-switcher i {
        top: 10px;
        right: 0;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-create-point form fieldset:nth-child(3) legend {
        flex-direction: column;
    }

    main .card img {
        height: 200px;
    }

    #modal .content {
        margin: 0 10px;
    }
}

@media (min-width: 1368px) {
    #page-home {
        background-position-x: 48vw;
    }
}

@media (max-width: 335px) and (max-height: 653px) {
    #page-home main h1 {
        font-size: 30px;
    }

    #page-home main p {
        font-size: 18px;
    }

    #page-home main p {
        line-height: 20px;
    }
}